.archive {
  & a:hover {
    border-bottom: 1px dotted;
  }

  & article {
    margin-bottom: 15px;

    border-bottom: 1px solid @dark-blue-grey;
  }

  &__page-header {
    margin-bottom: 15px;

    & h1 {
      font-size: 26px;
    }
  }
}
