.column {
  float: left; /*ie minimum support*/
  flex-basis: 200px;
  min-width: 200px;

  @media @mobile-widths-only {
    flex-basis: 100%;
    min-width: 300px;
  }

  /* @media @tablet-widths {
    flex-basis: 200px;
  }

  @media @desktop-widths {
    flex-basis: 200px;
  } */

  &--middle {
    max-width: 760px;    flex-grow: 1;    @media @tablet-widths {
      flex-basis: 400px;
      margin-right: 0;
      margin-left: 20px;
    }

    @media @desktop-widths {
      flex-basis: 760px;
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  &--right {
    @media @tablet-widths {
      margin-left: 10px;
    }
    @media @desktop-widths {
      margin-left: 0;
    }
  }

  &--footer {
    min-width: 100px;
  }

  &--left-footer {
    flex-basis: 40%;
  }

  &--right-footer {
    flex-basis: 40%;
  }
}
