.header-inner {
  /* min-width: 768px; */
  max-width: 1200px;
  margin-right: 10px;
  margin-left: 10px;

  .flex-row-between();
  .container-fluid();

  & h1 {
    margin-bottom: 0;
  }

  &__logo {
    padding-top: 10px;
    flex-basis: 200px;    @media @mobile-widths-only {      display: none;    }  }

  &__content {
    flex-grow: 1;
  }

  &__row1 {
    .flex-row-between();
    @media @mobile-widths-only {
      flex-wrap: wrap;
    }
    @media @tablet-widths {
      /* flex-wrap: wrap; */
    }
  }

  &__row2 {
    .flex-row-between();
    align-items:flex-end;
    @media @mobile-widths-only {
      flex-wrap: wrap;
    }
    @media @tablet-widths-only {
      display: block;
    }
  }

  &__title {
    text-align: left;
    @media @mobile-widths-only {
      display: none;
    }
    @media @tablet-widths-only {
      display: none;
    }

    &--tablet {
      display: none;
      @media @tablet-widths-only {
          display: block;
      }
    }

    &--name {
      font-size: 22px;
    }

    &--subname {
      padding-bottom: 10px;

      font-size: 18px;
    }
  }

  &__link {
    color: #000;

    font-size: 24px;
    font-weight: normal;
    line-height: 1.3em;
  }

  &__row3 {
    text-align: right;
    .flex-column-between-end();
    @media @mobile-widths-only {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__ftvi {
    /* padding-top: 20px; */

    text-align: right;

    @media @mobile-widths-only {
      padding-top: 5px;
    }

    & a {
      color: @dark-blue-grey;
    }
  }

}
