.main-footer {
    /* position: relative; */
    width: 100%;
    margin-top: 16px;

    border-top: 1px solid @dark-blue-grey;
    background-color: #fafafa;

    &__map {
      box-sizing: border-box;
      min-height: 500px;
      background: #fafafa url("../img/map.png") no-repeat 50% 100%;
    }
    /* .flex-row-between(); */
  /*  .container-fluid(); */
}
