.widget-area {
  margin-bottom: 10px;

  text-align: center;

  & a {
    display: block;

    box-sizing: border-box;
    width: 100%;
    padding: 15px 10px;
  }

  & a.w--red {
    color: #fff;
    background-color: @dark-red;
  }

  & a.w--red-line {
    color: @dark-red;
    border: 1px solid @dark-red;
    background-color: #fff;
  }

  & a.w--blue {
    color: #fff;
    background-color: @dark-blue-grey;
  }

  & a.w--blue-line {
    color: @dark-blue-grey;
    border: 1px solid @dark-blue-grey;
    background-color: #fff;
  }
}
